.contact-title {
    margin-bottom: 16px;
}
.contact-container {
    display: flex;
    gap: 32px;
}
.contact-map {
    border: none;
    border-radius: 16px;
    padding: 0;
    flex-shrink: 0;
    
}